body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header,
.footer {
    display: flex;
    background-color: #1F2937;
    align-items: center;
}

.header {
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    padding: 0 16px;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero {
    background-color: #1F2937;
}

.hero-right {
    background-color: grey;
    color: #E5E7EB;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
}

#information {
    background-color: #FFFFFF;
    flex-direction: column;
}

#info-content {
    gap: 50px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.info-image {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 10px;
}

.info-subtext {
    color: #1F2937;
    margin: 0;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#testimonial {
    background-color: #E5E7EB;
}

#testimonial-content {
    flex-direction: column;
    max-width: 600px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.subquote {
    font-weight: 800;
}

#call-to-action {
    background-color: #FFFFFF;
}